<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Dados de {{nome}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="text-center">
    <div class="container">
        <div class="jumbotron mt-3">
          <h1>Seus Dados</h1>
          <p class="lead">Em breve entraremos em contato.</p>
          <p class="lead">ID: {{_id}}.</p>
          <p class="lead">Nome: {{nome}}.</p>
          <p class="lead">Email: {{email}}.</p>
          <a class="btn btn-lg btn-primary" href="/" role="button">Sair</a>
        </div>
      </div>
</body>

</html>